
Includes = [ './base.toml' ]
Defs     = '../definitions/macos/coreaudio.json'

[Cpp]
Emit                      = false
ExportInternals           = true
DontWrapCFunctions        = true
ExportForwardDeclarations = true
KeepAnonymousEnums        = true

ExportTypes =[
  '^Audio.+',
  '^AU.+',
  '^OpaqueAudio.+',
  '^OpaqueAU.+',
  '^ComponentInstanceRecord$',
  '^MIDI.+',
  '^SMPT.+$',
  '^TimeStamp$',
  '.+FDF$',
]

IgnoreTypes = [
  '^AUDistanceAttenuationData',
  '^AudioFormatID$',
  '^AudioFormatFlag$',
  '^AudioFormatFlags$',
]

ExportMethods = [
  '^::Audio.+',
  '^::AU.+',
]

ExportVars = [
  '^::k?Audio.+',
  '^::k?AU.+',
]


[Odin]
ExternalTypes = [
  '../exports/global.exports.yml',
  '../mach/exports/mach.exports.yml',
  '../exports/CoreFoundation.exports.yml',
]

ResolvedTypedefs = [
  '[su]?int.*',
  '^Float32$',
  '^Float64$',
  '^Byte$',
]

NoDistinctTypedefs = true
DistinctTypeDefs = [
]

AnonymousEnums = [
  { Name = "AudioFormatID",    FieldMatch = [ "^kAudioFormat(?!Flag).+" ] },
  { Name = "AudioFormatFlag",  FieldMatch = [ "^(kAudioFormatFlag(Is|sAre)|kLinearPCMFormatFlag|kAppleLosslessFormatFlag_).+" ] },
  { Name = "AudioFormatFlags", FieldMatch = [ "^kAudioFormatFlags(?!Are).+" ] },
]

[[Odin.Packages]]
Name           = 'CoreAudio'
Export         = 'CA'
DarwinLinkLibs = ['system:CoreAudio.framework']
Filter         = '.*'

# Imports = ["""
# """]

MacroFilter = [
  { 'Match' = '^(Audio|AU).+' }
]

# Create enums based on a set of macro definitions.
# This will also make them available for export, if not 
# exported by the MacroFilter already
# [Odin.Packages.MacroEnums]
# host_flavor_t = { File = 'host_info.h',  Type = 'host_flavor_t_int', Match = 'HOST_.+$' }




[Odin.Packages.TypeMap]
AudioFormatFlags = 'FormatFlag'


# Symbol Transformers
[[Odin.EnumTransforms]]
Type       = '.*'
Transforms = [
  { Kind = 'RemoveCommonPrefix' },
  { Kind = 'RemoveTypeWordsFromElements' },
  { Kind = 'RemovePartialTypeNamePrefix' },
  { Kind = 'RemoveUnderscorePrefix' },
  { Kind = 'UnderscoreNumbers' },
]

[[Odin.EnumTransforms]]
Type       = '^AudioFormatFlag'
Transforms = [
  { Kind = 'ReplacePrefix', Source = 'sAre', Target ='Are' },
]

[[Odin.TypeTransforms]]
Type       = '^(Audio).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]

[[Odin.TypeTransforms]]
Type       = '(Mask|(?<!Format)Flag|Option)$'  # Transforms for bit_set types
Transforms = [{Kind = 'AppendSuffix', Source = 's' }]

[[Odin.TypeTransforms]]
Type       = '^ChannelBitmap$'  # Transforms for bit_set types
Transforms = [{Kind = 'RemoveSuffix', Source = 'Bit' }]

[[Odin.BitSetMap]]
Type       = '(Mask|(?<!Format)Flags?|Options?)$' # Transforms the enum that will generate a bit_set to not have a collision type
Transforms = [{ Kind = 'RemoveSuffix', Source = 's' }]

[[Odin.BitSetMap]]
Type       = '^AudioChannelBitmap$' # Transforms the enum that will generate a bit_set to not have a collision type
Transforms = [{ Kind = 'AppendSuffix', Source = 'Bit' }]


[[Odin.ProcTransforms]]
Type       = '^(_*Audio).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]

[[Odin.VarTransforms]]
Type       = '^(_?kAudio).+'
Transforms = [{ Kind = 'ReplacePrefix', Source = '$group0', Target = 'k' }]

[[Odin.VarTransforms]]
Type       = '^(_*Audio).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]
