
Includes = [ './base.toml' ]
Defs     = '../definitions/macos/iokit.json'

[Cpp]
Emit                      = false
ExportInternals           = true
DontWrapCFunctions        = true
ExportForwardDeclarations = true

ExportTypes =[
  '^IO.+',
  '^io_.+',
]

ExportMethods = [
  '^::IO.+',
]

ExportVars = [
  '^::k?IO.+',
]


[Odin]
ExternalTypes = [
  '../exports/global.exports.yml',
  '../mach/exports/mach.exports.yml',
  '../exports/CoreFoundation.exports.yml',
]

ResolvedTypedefs = [
  '[su]?int.*',
  # - ^boolean_t$
]

NoDistinctTypedefs = true
DistinctTypeDefs = [
  '^IOCacheMode$',
  '^DeviceNumber$',
]

[[Odin.Packages]]
Name           = 'IOKit'
Export         = 'IO'
DarwinLinkLibs = ['system:IOKit.framework']
Filter         = '.*'

Imports = ["""
// IOBSD.h
kBSDKey      :: "IOBSD"     // (BSD subsystem resource)
kBSDNameKey  :: "BSD Name"  // (an OSString)
kBSDNamesKey :: "BSD Names" // (an OSDictionary of OSString's, for links)
kBSDMajorKey :: "BSD Major" // (an OSNumber)
kBSDMinorKey :: "BSD Minor" // (an OSNumber)
kBSDUnitKey  :: "BSD Unit"  // (an OSNumber)

// <IOKit/storage/IOStorageDeviceCharacteristics.h>
kPropertyDeviceCharacteristicsKey  :: "Device Characteristics"
kPropertyVendorNameKey             :: "Vendor Name"
kPropertyProductNameKey            :: "Product Name"
kPropertyProductRevisionLevelKey   :: "Product Revision Level"
kPropertyProductSerialNumberKey    :: "Serial Number"
kPropertySupportedCDFeaturesKey    :: "CD Features"
kPropertySupportedDVDFeaturesKey   :: "DVD Features"
kPropertySupportedBDFeaturesKey    :: "BD Features"
kPropertyRigidDiskGeometryKey      :: "Rigid Disk Geometry"
kPropertySectorCountPerTrackKey    :: "Sector Count per Track"
kPropertyHeadCountKey              :: "Head Count"
kPropertyCylinderCountKey          :: "Cylinder Count"
kPropertyBytesPerPhysicalSectorKey :: "Bytes per Physical Sector"
kPropertyPhysicalBlockSizeKey      :: "Physical Block Size"
kPropertyLogicalBlockSizeKey       :: "Logical Block Size"
kPropertyTargetDiskModeKey         :: "Target Disk Mode"
kPropertyInvalidStartupDiskKey     :: "Invalid Startup Disk"
kPropertyMediumTypeKey             :: "Medium Type"
kPropertyMediumTypeRotationalKey   :: "Rotational"
kPropertyMediumTypeSolidStateKey   :: "Solid State"
kPropertyMediumRotationRateKey     :: "Rotation Rate"


// <IOKit/storage/IOBlockStorageDevice.h>
/*!
 * @defined kIOBlockStorageDeviceClass
 * @abstract
 * The name of the IOBlockStorageDevice class.
 */

kBlockStorageDeviceClass :: "IOBlockStorageDevice"

/*!
 * @defined kIOBlockStorageDeviceWriteCacheStateKey
 * @abstract
 * The name of the property used to get or set the write cache state of the
 * block storage device.
 */
kBlockStorageDeviceWriteCacheStateKey :: "WriteCacheState"


// <IOKit/storage/IOMedia.h>

kMediaClass :: "IOMedia"

/*!
 * @defined kIOMediaContentKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaContentKey property has an OSString
 * value and contains a description of the media's
 * contents.  The description is the same as the hint at the time of the
 * object's creation, but it is possible that the description has been overridden
 * by a client (which has probed the media and identified the content correctly)
 * of the media object.  It is more accurate than the hint for this reason.  The
 * string is formed in the likeness of Apple's "Apple_HFS" strings or in the
 * likeness of a UUID.
 */

kMediaContentKey :: "Content"

/*!
 * @defined kIOMediaContentHintKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaContentHintKey property has an OSString
 * value and contains a hint of the media's contents.
 * The hint is set at the time of the object's creation, should the creator have
 * a clue as to what it may contain.  The hint string does not change for the
 * lifetime of the object and is formed in the likeness of Apple's "Apple_HFS"
 * strings or in the likeness of a UUID.
 */

kMediaContentHintKey :: "Content Hint"

/*!
 * @defined kIOMediaEjectableKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaEjectableKey property has an OSBoolean
 * value and describes whether the media is ejectable
 * from the drive mechanism under software control.  Implies IOMediaRemovable
 * is also true.
 */

kMediaEjectableKey :: "Ejectable"

/*!
 * @defined kIOMediaLeafKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaLeafKey property has an OSBoolean value and describes whether the media is a leaf, that is,
 * it is the deepest media object in this branch of the I/O Registry.
 */

kMediaLeafKey :: "Leaf"

/*!
 * @defined kIOMediaOpenKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaOpenKey property has an OSBoolean value and describes whether
 * a client presently has an open on this media.
 */

kMediaOpenKey :: "Open"

/*!
 * @defined kIOMediaPreferredBlockSizeKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaPreferredBlockSizeKey property has an
 * OSNumber value and describes the media's natural
 * block size in bytes.  This information is useful to clients that want to
 * optimize access to the media.
 */

kMediaPreferredBlockSizeKey :: "Preferred Block Size"

/*!
 * @defined kIOMediaRemovableKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaRemovableKey property has an OSBoolean
 * value and describes whether the media is removable
 * from the drive mechanism.
 */

kMediaRemovableKey :: "Removable"

/*!
 * @defined kIOMediaSizeKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaSizeKey property has an OSNumber value and describes the total length of the media in
 * bytes.
 */

kMediaSizeKey :: "Size"

/*!
 * @defined kIOMediaUUIDKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaUUIDKey property has an OSString value and contains a persistent
 * Universal Unique Identifier for the media if such an identifier is available.
 */

kMediaUUIDKey :: "UUID"

/*!
 * @defined kIOMediaWholeKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaWholeKey property has an OSBoolean
 * value and describes whether the media is whole, that is,
 * it represents the whole disk (the physical disk, or a virtual replica
 * thereof).
 */

kMediaWholeKey :: "Whole"

/*!
 * @defined kIOMediaWritableKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaWritableKey property has an OSBoolean
 * value and describes whether the media is writable.
 */

kMediaWritableKey :: "Writable"

/*!
 * @defined kIOMediaContentMaskKey
 * @abstract
 * A property of IOMedia clients.
 * @discussion
 * The kIOMediaContentMaskKey property has an OSString
 * value and must exist in all IOMedia clients that
 * drive new content (that is, produce new media objects).  When the client
 * matches against the provider media, the value of the client's
 * kIOMediaContentMaskKey property is used to replace the provider's
 * kIOMediaContentKey property.
 */

kMediaContentMaskKey :: "Content Mask"

/*!
 * @defined kIOMediaIconKey
 * @abstract
 * A property of any object in the media stack.
 * @discussion
 * kIOMediaIconKey is a property of any object in the media stack that wishes
 * to override the default icon shown for the media objects in the stack.  It
 * is usually defined in a provider object below the media object.  It has an
 * OSDictionary value, with properties identical to the kIOIconKey definition,
 * that is, kCFBundleIdentifierKey and kIOBundleResourceFileKey.
 */

kMediaIconKey :: "IOMediaIcon"

/*!
 * @defined kIOMediaInvalidStartupDiskKey
 * @abstract
 * A property of IOMedia objects.
 * @discussion
 * The kIOMediaInvalidStartupDiskKey property has an OSBoolean
 * value and describes whether the media cannot be used as a startup disk
 */

kMediaInvalidStartupDiskKey :: "Invalid Startup Disk"

/*!
 * @enum IOMediaAttributeMask
 * @discussion
 * The IOMediaAttributeMask bit mask describes various attributes of
 * the media object, such as its ejectability and its removability.
 * @constant kIOMediaAttributeEjectableMask
 * Indicates whether the media is ejectable from the drive mechanism
 * under software control.  Implies kIOMediaAttributeRemovableMask.
 * @constant kIOMediaAttributeRemovableMask
 * Indicates whether the media is removable from the drive mechanism.
 */

IOMediaAttributeMask :: enum u32 {
    EjectableMask = 0x00000001,
    RemovableMask = 0x00000002,
    ReservedMask  = 0xFFFFFFFC,
}

"""]

MacroFilter = [
  { 'Match' = '^kIO.+' }
]

# Create enums based on a set of macro definitions.
# This will also make them available for export, if not 
# exported by the MacroFilter already
# [Odin.Packages.MacroEnums]
# host_flavor_t = { File = 'host_info.h',  Type = 'host_flavor_t_int', Match = 'HOST_.+$' }


[Odin.Packages.TypeMap]
kern_return_t = 'mach.kern_return_t'


# Symbol Transformers
[[Odin.EnumTransforms]]
Type       = '.*'
Transforms = [
  { Kind = 'RemoveTypeWordsFromElements' },
  { Kind = 'RemovePartialTypeNamePrefix' },
  { Kind = 'RemoveUnderscorePrefix' },
  { Kind = 'UnderscoreNumbers' },
]

[[Odin.TypeTransforms]]
Type       = '^(IO|io_).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]

[[Odin.TypeTransforms]]
Type       = '(Flag|Option|Mask)$'  # Transforms for bit_set types
Transforms = [{Kind = 'AppendSuffix', Source = 's' }]

[[Odin.BitSetMap]]
Type       = '(Mask|Flags?|Options?)$' # Transforms the enum that will generate a bit_set to not have a collision type
Transforms = [{ Kind = 'RemoveSuffix', Source = 's' }]

[[Odin.ProcTransforms]]
Type       = '^(_*IO).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]

[[Odin.VarTransforms]]
Type       = '^(_?kIO).+'
Transforms = [{ Kind = 'ReplacePrefix', Source = '$group0', Target = 'k' }]

[[Odin.VarTransforms]]
Type       = '^(_*IO).+'
Transforms = [{ Kind = 'RemovePrefix', Source = '$group0' }]
