---

Defs: ../definitions/macos/metal.json

Mono  : { Emit: false }
CSharp: { Emit: false }

Cpp:
  Emit: false
  ExportInternals: true
  DontWrapCFunctions: true
  ExportForwardDeclarations: true
  
  ExportTypes:
    - ^_*MTL.+

  ExportMethods:
    - ^::MTL.+

  ExportVars:
    - ^::k?MTL.+

  IgnoreTypes  : []
  IgnoreMethods: []


Odin:
  Emit           : true
  ExportPath     : ..
  BasePackageName: darwodin
  SingleFile     : false
  TargetPlatform : Darwin
  ExportTypeMapDir: ../exports
  ExternalTypes:
    - ../exports/CoreFoundation.exports.yml
    - ../exports/CoreGraphics.exports.yml
    - ../exports/Foundation.exports.yml
    - ../exports/QuartzCore.exports.yml
    # - ../exports/AppKit.exports.yml

  ResolvedTypedefs:
    - '[su]?int.*'

  Packages:
    - Name  : Metal
      Export: MTL
      DarwinLinkLibs: [system:Metal.framework]
      Filter: .*

      # Imports:
      #   - 

      TypeMap: {}


  # Symbol Transformers
  EnumTransforms:
  - Type: Options$
    Transforms:
      # - Kind: RemoveTypeWordsFromElements
      - Kind: RemovePartialTypeNamePrefix
      - Kind: RemoveUnderscorePrefix
      - Kind: UnderscoreNumbers

  - Type: .*
    Transforms:
    - Kind: RemoveTypeWordsFromElements
    - Kind: RemovePartialTypeNamePrefix
    - Kind: RemoveUnderscorePrefix
    - Kind: UnderscoreNumbers

  TypeTransforms:
  - Type: ^(_?MTL).+
    Transforms:
    - Kind  : RemovePrefix
      Source: $group0
  - Type: (Flags|Mask|Options?)$
    Transforms:
    - Kind  : RemoveSuffix
      Source: s

  # BitsetSuffix: ""
  # BitsetEnumSuffix: "${group}s"
  BitSetMap:
    - Type: (Flags|Mask|Options?)$
      Transforms:
        - Kind  : AppendSuffix
          Source: s
    # - Type: (Option|Mask)$
    #   Transforms:
    #   - Kind  : RemoveSuffix
    #     Source: s
      # EnumTransforms:
      #  - Kind  : RemoveSuffix
      #    Target: s

    # - Mask$
    # - MTL(ResourceOption)s$


 
  ProcTransforms:
  - Type: ^(_*MTL).+
    Transforms:
    - Kind  : RemovePrefix
      Source: $group0

  VarTransforms:
    - Type: ^(_*MTL).+
      Transforms:
        - Kind  : RemovePrefix
          Source: $group0
