---

Defs: ../definitions/macos/metal.json

Mono  : { Emit: false }
CSharp: { Emit: false }

Cpp:
  Emit: false
  ExportInternals: true
  DontWrapCFunctions: true
  ExportForwardDeclarations: true
  
  ExportTypes:
    - ^_*MTL.+

  ExportMethods:
    - ^::MTL.+

  ExportVars:
    - ^::k?MTL.+

  IgnoreTypes  : []
  IgnoreMethods: []


Odin:
  Emit           : true
  ExportPath     : ..
  BasePackageName: darwodin
  SingleFile     : false
  TargetPlatform : Darwin
  ExportTypeMapDir: ../exports

  ExternalPackageMap:
    darwin_libc: '../libc'

  ExternalTypes:
    - ../mach/exports/mach.exports.yml
    - ../libc/libc.exports.yml
    - ../exports/CoreFoundation.exports.yml
    - ../exports/CoreGraphics.exports.yml
    - ../exports/Foundation.exports.yml
    - ../exports/QuartzCore.exports.yml
    # - ../exports/AppKit.exports.yml


  ResolvedTypedefs:
    - '[su]?int.*'

  Packages:
    - Name  : Metal
      Export: MTL
      DarwinLinkLibs: [system:Metal.framework]
      Filter: .*

      # Imports:
      #   - 

      # TypeMap:
      #   task_id_token_t: CF.task_id_token_t


  # Symbol Transformers
  EnumTransforms:
  - Type: Options$
    Transforms:
      # - Kind: RemoveTypeWordsFromElements
      - Kind: RemovePartialTypeNamePrefix
      - Kind: RemoveUnderscorePrefix
      - Kind: UnderscoreNumbers

  - Type: .*
    Transforms:
    - Kind: RemoveTypeWordsFromElements
    - Kind: RemovePartialTypeNamePrefix
    - Kind: RemoveUnderscorePrefix
    - Kind: UnderscoreNumbers

  TypeTransforms:
    - Type: ^(MTL).+
      Transforms:
      - Kind  : RemovePrefix
        Source: $group0
    - Type: (Flag|Option|Mask|MTLRenderStages)$  # Transforms for bit_set types
      Transforms:
      - Kind  : AppendSuffix
        Source: s

  BitSetMap:
    - Type: (Mask|Flags?|(?<!MTLResource)Options?|MTLRenderStages)$ # Transforms the enum that will generate a bit_set to not have a collision type
      Transforms:
        - Kind  : RemoveSuffix
          Source: s
 
  ProcTransforms:
  - Type: ^(_*MTL).+
    Transforms:
    - Kind  : RemovePrefix
      Source: $group0

  VarTransforms:
    - Type: ^(_*MTL).+
      Transforms:
        - Kind  : RemovePrefix
          Source: $group0
