---

Defs: ../definitions/macos/metalfx.json

Mono  : { Emit: false }
CSharp: { Emit: false }

Cpp:
  Emit: false
  ExportInternals: true
  DontWrapCFunctions: true
  ExportForwardDeclarations: true
  
  ExportTypes:
    - ^_*MTLFX.+

  ExportMethods:
    - ^::MTLFX.+

  ExportVars:
    - ^::k?MTLFX.+

  IgnoreTypes  : []
  IgnoreMethods: []


Odin:
  Emit           : true
  ExportPath     : ..
  BasePackageName: darwodin
  SingleFile     : false
  TargetPlatform : Darwin
  ExportTypeMapDir: ../exports
  ExternalTypes:
    - ../exports/CoreFoundation.exports.yml
    - ../exports/CoreGraphics.exports.yml
    - ../exports/Foundation.exports.yml
    - ../exports/QuartzCore.exports.yml
    - ../exports/Metal.exports.yml
    # - ../exports/AppKit.exports.yml

  ResolvedTypedefs:
    - '[su]?int.*'

  Packages:
    - Name  : MetalFX
      Export: MTLFX
      DarwinLinkLibs: [system:MetalFX.framework]
      Filter: .*

      # Imports:
      #   - 

      # TypeMap:


  # Symbol Transformers
  EnumTransforms:
  # - Type: Options$
  #   Transforms:
  #     # - Kind: RemoveTypeWordsFromElements
  #     - Kind: RemovePartialTypeNamePrefix
  #     - Kind: RemoveUnderscorePrefix
  #     - Kind: UnderscoreNumbers

  - Type: .*
    Transforms:
    - Kind: RemoveTypeWordsFromElements
    - Kind: RemovePartialTypeNamePrefix
    - Kind: RemoveUnderscorePrefix
    - Kind: UnderscoreNumbers

  TypeTransforms:
    - Type: ^(MTLFX).+
      Transforms:
      - Kind  : RemovePrefix
        Source: $group0
    - Type: (Flag|Option|Mask)$  # Transforms for bit_set types
      Transforms:
      - Kind  : AppendSuffix
        Source: s

  BitSetMap:
    - Type: (Mask|Flags?|Options?)$ # Transforms the enum that will generate a bit_set to not have a collision type
      Transforms:
        - Kind  : RemoveSuffix
          Source: s
 
  ProcTransforms:
  - Type: ^(_*MTLFX).+
    Transforms:
    - Kind  : RemovePrefix
      Source: $group0

  VarTransforms:
    - Type: ^(_*MTLFX).+
      Transforms:
        - Kind  : RemovePrefix
          Source: $group0
